* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}
.animar {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-out forwards;
}

    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

@media (prefers-reduced-motion: reduce) {
      .entry {
        animation: none;
        opacity: 1;
        transform: none;
      }
    }


html {
    scroll-behavior: smooth; 
}

:root {
    /*a guarda as cores que você quer usar */
    --primary-color: #00FFFF;
    --secondary-color: #2C3E50;
    --accent-color: #008080;
    --text-color: #2C3E50;
    --white-color: #FFFFFF;
    --border-color: #E9ECEF;
    --form-text: #FFE4E1;
}



body {
    color: var(--border-color);
    transition: 1.0s ease;
 background: #22b8c3;
background: rgba(1, 0, 31, 1);
}



.menu{
   position: fixed;
   left: -300px;
    top: 0;
   width: 194px;
  height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    border-radius: 25px;
    margin-top: 80px;
    transition: all 1.0s cubic-bezier(.25,.1,.25,1) ;
}

.menu.ativo{
    left: 0;
   

}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin-top: 80px ;

}

.menu ul li {
    padding: 15px 30px ;
    
}


.button-menu{
    background-color: var(--secondary-color);
    position: sticky;
   left: 22px;
    top: 107px;
    z-index: 6;
   border-radius: 25px; 
   font-size: 25px;
   border: none;
   padding: 10px 15px ;
   cursor: pointer;
   color: var(--border-color);
   margin-top: -13px;
   transition: all 0.5s cubic-bezier(.25,.1,.25,1) ;
}


.button-menu.ativo{
   left: 208px;
   background-color: rgba(255, 255, 255, 0.2);
   color: var(--secondary-color);

}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 41, 41, 0);
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}

.background.ativo{
    opacity: 1;
    visibility: visible;
}

    
.conteudo{
        transition: 0.5s ease;
}
.conteudo.ativo{
    margin-left: 100px;
   
}


.menu-link {
    /* são os botões e ordenação aonde eles vão ficar */
    text-decoration: none;
    color: #17c6dd;
    font-weight: 600;
    position: relative;
    padding: 0.5rem 0;
}

/* after -> depois / before -> antes */

.menu-link::after {
    /* depois de todos os itens da classe menu */
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--accent-color), var(--primary-color));
    transition: width 0.5s ease;
    /* a transição de quanto ela iria demorar para fazer */

}

.menu-link:hover::after {
    /* o hover seve para quando o ouse passar na tela */
    width: 100%;
}

.cabeçalho {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* alinha os itens na vertical */

}

.foto-logo {
  width: 1400px;
  height: 700px;
    font-weight: bold;
  margin-top: -50px;
object-fit: cover;
}

.frase-inicio {
    font-weight: 400 ;
     background: -webkit-linear-gradient(#eee, #1CC6D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 30px;

}

.sobre-titulo {
    /* Quem somos */
    font-size: 3rem;
    background: -webkit-linear-gradient(#eee, #023cfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    font-weight: 500;

}

.caixa-sobre-min {
    /* sobre nos */
    padding: 2rem;
    max-width: 900px;/*  largura máxima da caixa */
    /* esticar o texto da sua forma */
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--secondary-color);
    font-size: 1rem;
    color: var(--form-text);
    font-weight: bold;
   
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;

     
     

}

.caixa-sobre-min:hover {
    box-shadow: 0 10px 20px rgb(2, 43, 43);
    transform: translateY(-10px) scale(1.05); /* aumenta o tamanho do card */
    transition: all  0.5s  ease;
    cursor: pointer; 
}
.caixa-sobre-min:not(:hover) {
   
      transition: transform 0.5s ease-in; /* mais lento ao voltar */
 transition:  0.4s ease; /* suavidade no hover */
    }

.projetos {
    padding: 6rem 2rem;

}

.projeto-card {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--secondary-color);
    margin: 2rem;
    overflow: hidden;
}

.projeto-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
        background: -webkit-linear-gradient( #1CC6D4, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 600;

}

.projeto-card:hover {
    box-shadow: 0 10px 20px rgba(0, 128, 128, 1);
    transform: translateY(-10px) scale(1.05); /* aumenta o tamanho do card */
    transition: all  0.5s  ease;
    cursor: pointer; 
}

.projeto-card:not(:hover) {
   
      transition: transform 0.5s ease-in; /* mais lento ao voltar */
 transition:  0.4s ease; /* suavidade no hover */
    }


.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-imagens {
    height: 200px; /* altura da imagem */
    width: 100%;  /* largura da imagem */
    object-fit: cover; 
}

.info-projetos {
margin-bottom: 5px;
}

.paragrafo-projetos {
    color: #E9ECEF;
    line-height: 1.25rem;
}
.caixa-texto-projeto{
    padding: 1.5rem;
}



.contato{
padding: 6rem 2rem ;
}

.contatos-titulo{
  text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato{
 max-width: 600px ;
 margin:  0 auto;
  background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 3rem;
    border: 1px solid var(--accent-color);
    border-radius: 16px;

}
.campo-form{
 width: 100% ;
 padding: 1rem;
 background: rgba(0, 0, 0, 0.6);
 border-radius: 8px;
 color: var(--border-color);
 border:1px solid var(--primary-color);
 
 
}
.campo-form:focus{
    border-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(15, 23, 42, 0.8);
}
.grupo-form{
 margin-bottom: 1.5rem;

}

.botao-form{
    color: var(--form-text);
    background: #008080;
    background: linear-gradient(90deg, rgba(0, 128, 128, 1) 0%, rgba(44, 62, 80, 1) 48%);
    padding:  1rem 2rem ;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}
.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px  rgba(15, 23, 42, 0.8);
}

.frase-final{
    text-align: center; /* a centralização do tezto */ 

    padding: 2rem; /* ele é o espaçamento que fica em volta do texto */

    font-size: 1rem; /* o tamanho da fonte do texto */ 

    color: var(--border-color); /* a cor do texto */ 

    font-weight: bold; /* o peso que a fonte tem sobre o texto */
}


@media screen and (max-width: 700px) {
  
    html,body{
        margin: 0;
    overflow-x: hidden;
    }


.navegacao{
    width: 118%;

}
.menu{
    height: 32%;
}

.conteudo{

}

.conteudo.ativo{
    margin-left: 0px;
   
}
.foto-logo{
    position: relative;
    left: 17px;
    content: url(imagens/Design\ sem\ nome\ \(4\).png);
width: 300px;
height: 300px;
margin: 40% auto;
}

.frase-inicio{
    text-align: center;
    position: relative;
        left: 6px;
        font-size:1rem;
}
.caixa-sobre-min {
    position: relative;
    left: 6px; 
    font-size: 1.1rem;
    padding: 2rem 2rem;
    width: 80%;
}
.sobre-paragrafo{
    font-size: 0.9rem;
}

/* Projetos */
.projeto-titulo{
    text-align: center;
    font-size: 1.5rem;
}


.formulario-contato{
    position: relative;
    left: 26px;

}
.projetos{
    align-items: center;
}

.projeto-card{
    width: 60%;
}

.sobre-titulo{
    position: relative;
    left: 19px;
    font-size: 32px;

}

.contatos-titulo{
   text-align: start;
   line-height: 1.5 ;
   font-size: 1.5rem;
   padding: 0 2rem;
}


.formulario-contato{
    width: 90%;
align-items: center;
left:0;
}

.campo-form{
    width: 90%;
}

.grupo-form textarea{
    width: 90%;
    height: 100px;
}

.menu.ativo{
height: 354px;
}

}