* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   color: #F5FFFA
}

header {
    margin: 44px 0px 144px 76px;
    display: flex;


}

.link-header {

    font-weight: 600;
 font-size: 20px;
    line-height: 29px;
    color: #989D9C;
    padding: 1rem;
    cursor: pointer;
    


}



img{
    width: 475px;
    height: 397px;
}


a{
    text-decoration: none;
    
}





.projetos {
    padding: 6rem 2rem;

}

.projeto-card {
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--secondary-color);
    margin: 2rem;
    overflow: hidden;
}

.projeto-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #4a1355;

}

.projeto-card:hover {
    box-shadow: 0 10px 20px rgb(0, 128, 0);
    transform: translateY(-10px) scale(1.05); /* aumenta o tamanho do card */
    transition: all  0.5s  ease;
    cursor: pointer; 
}

.projeto-card:not(:hover) {
   
      transition: transform 0.5s ease-in; /* mais lento ao voltar */
 transition:  0.4s ease; /* suavidade no hover */
    }


.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-imagens {
    height: 200px; /* altura da imagem */
    width: 100%;  /* largura da imagem */
    object-fit: cover; 
}

.info-projetos {
margin-bottom: 5px;
}

.paragrafo-projetos {
    color: #000000;
    line-height: 1.25rem;
}
.caixa-texto-projeto{
    padding: 1.5rem;
}
















@media screen and (max-width: 600px) and (orientation: landscape) and (orientation: portrait) {
    /* esse media serve para a responsividade para que quando bataer com mais ou pra menos de 600 px ele mude de forma ou de formatação 
    assim colocando e modificando o texto */
/* essas orientações servem para quando vc for aplicar em diferentes formatações do seu computador assim deixando o site mais confortavel */

}

.botao-login {
    background: #665AE1;
    border-radius: 20.5px;
    width: 150px;
    height: 42px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}


.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

div {
    display: inline-block;
}

h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 122px; 
    color: #515151;
}


h2 {
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    color: #989D9C;
}

p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 35px;
    text-align: justify;
}

.textos {
    padding: 86px;
}

.botao-2 {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    margin-top: 32px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.botao-2:hover {
    background-color: #89c900;
    transition: 0.5s;
    transform: scale(1.1);


}




@media screen and (max-width: 800px) {
    header {
      display: none ;
    }


    h1 {
       font-size: 61px;
        line-height: 60px;
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
    }

    p {
       display: none;
    }
.logo-image{
    width: 353px;
    height: 317px ;
    margin: 0 auto;


}

.textos {
    padding: 20px;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grupo-imagem{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

}